.pxIndexPageInfoQuick{
    width:30%;
    height:100%;
   border-radius: 20px;
}
.pxIndexPageInfoQuickButtonBar{
    width:100%;
    height:16%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 
.pxIndexPageInfoQuickButton{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pxIndexPageInfoQuickButtonLeft{
    border-top-left-radius: 20px;
}
.pxIndexPageInfoQuickButtonRight{
    border-top-right-radius: 20px;
}
.pxIndexPageInfoQuickContent{
    width:100%;
    height:84%;
    background: #ffffff;
    border:1px solid #d9d9d9;
    border-top-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.pxIndexPageInfoQuickInput{
    width:80%;
}
.pxIndexPageInfoQuickInputHalf{
    width:50%;
}