.pxIndexPageInfo{
    width:100%;
    min-height:300px;
    height:300px;
   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
}
.pxIndexPageInfoDisplay{
    width:70%;
    height:100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;

}